@use '../../../../styles';

$minesweeper-header-height: 20px;

.minesweeper-inlay {
  border-left: 2px solid gray;
  border-top: 2px solid gray;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.minesweeper-extrude {
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

.minesweeper-game {
  margin: auto;

  box-sizing: border-box;

  display: inline-flex;
  flex-direction: column;
  position: relative;

  box-shadow: 2px 3px 5px #000000;

  padding: 5px;
  background-color: lightgray;
  
  user-select: none;
}

.minesweeper-header {
  height: $minesweeper-header-height;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.minesweeper-menu-button {
  @include styles.button-no-decoration();

  font-family: Helvetica;
  font-size: 12px;
  margin-right: 10px;
}

.minesweeper-close-button {
  @include styles.button-no-decoration();

  align-content: center;
  text-align: center;
  text-decoration: none;
  color: inherit;

  height: 100%;
  float: right;
  margin-left: auto;
  width: $minesweeper-header-height;

  border: 1px solid transparent;
}

.minesweeper-close-button:hover {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.minesweeper-menu {
  position: absolute;
  top: 25px;

  box-sizing: border-box;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: lightgray;
  padding: 3px;
}

.minesweeper-menu-game {
  left: 5px;
}

.minesweeper-menu-options {
  left: 48px;
}

.minesweeper-menu-help {
  left: 99px;
}

.minesweeper-menu-content {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;

  font-family: Helvetica;
  font-size: 12px;
}

.minesweeper-menu-item {
  display: flex;
  flex-direction: row;
  height: 14px;
  line-height: 14px;
}

.minesweeper-menu-item-check {
  width: 10px;
  margin-left: 1px;
}

.minesweeper-menu-item-button {
  @include styles.button-no-decoration();
  font-family: Helvetica;
  font-size: 12px;
  margin: 0px 2px;
  white-space: nowrap;
}

.minesweeper-menu-item-button:hover {
  color: blue;
}

.minesweeper-custom-form {
  top: 63px;
  left: 95px;
  width: 120px;

  form {
    padding: 2px 5px 3px 5px;
  }
}

.minesweeper-custom-form-row {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  align-items: center;

  input {
    width: 45px;
    margin-left: auto;
  }

  input:focus {
    outline: none;
  }
}

.minesweeper-custom-form-error {
  width: 100%;
  color: red;
  font-size: 10px;
}

.minesweeper-score-banner {
  margin: 5px 0px;

  display: inline-flex;
  flex-direction: row;

  align-content: center;
}

.minesweeper-counter {
  @include styles.button-no-decoration();
  height: 23px;
  width: 39px;
  background-color: black;
  color: red;
  align-content: center;
  text-align: center;

  display: flex;
  flex-direction: row;
}

.minesweeper-counter-digit {
  width: 13px;
  height: 23px;
}

.minesweeper-flag-counter {
  margin: 4px 0px 5px 6px;
  font: inherit;
}

.minesweeper-flag-counter-button {
  color: cyan;
}

.minesweeper-reset-button {
  width: 25px;
  height: 25px;

  margin: auto;
  box-sizing: border-box;
  outline: 1px solid gray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.reset-button-smile {
  background-image: url('../../../../../public/assets/games/minesweeper/smiley-face.png');
  
}

.reset-button-dead {
  background-image: url('../../../../../public/assets/games/minesweeper/dead-face.png');
}

.reset-button-cool {
  background-image: url('../../../../../public/assets/games/minesweeper/cool-face.png');
}

.reset-button-ooh {
  background-image: url('../../../../../public/assets/games/minesweeper/ooh-face.png');
}

.minesweeper-timer {
  margin: 4px 6px 5px 0px;
}

.minesweeper-game-body {
  height: 100%;

  margin: auto;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  display: inline-flex;
  flex-direction: row;
}

.minesweeper-column {
  display: inline-flex;
  flex-direction: column;
}

.minesweeper-tile {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  line-height: 15px;
  font-size: 13px;
  position: relative;

  align-content: center;
  text-align: center;
}

.minesweeper-tile-content {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.tile-open {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}
   
.tile-closed {
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

.tile-flagged {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../../../../public/assets/games/minesweeper/flag.png');
}

.tile-bomb {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../../../../public/assets/games/minesweeper/bomb.png');
}
      
.tile-questioned {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../../../../public/assets/games/minesweeper/question.png');
}

.tile-losing-bomb {
  background-color: red;
}

.tile-incorrect-flag {
  color: red;
  font-size: 16px;
}