@use '../../../../styles';

$minesweeper-header-height: 20px;

.minesweeper-inlay {
  border-left: 2px solid gray;
  border-top: 2px solid gray;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.minesweeper-extrude {
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

.minesweeper-component {
  height: 100%;
  width: 100%;

  align-content: center;
}

.minesweeper-game {
  margin: auto;

  box-sizing: border-box;

  display: inline-flex;
  flex-direction: column;

  box-shadow: 2px 3px 5px #000000;

  padding: 5px;
  background-color: lightgray;
}

.minesweeper-header {
  height: $minesweeper-header-height;
}

.minesweeper-close-button {
  align-content: center;
  text-align: center;
  text-decoration: none;
  color: inherit;

  height: 100%;
  float: right;
  width: $minesweeper-header-height;

  border: 1px solid transparent;
  background-color: inherit;
  outline: none;
}

.minesweeper-close-button:hover {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.minesweeper-score-banner {
  height: 50px;
  margin: 5px 0px;
}

.minesweeper-game-body {
  height: 100%;

  align-content: center;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  display: inline-flex;
  flex-direction: row;
}

.minesweeper-column {
  display: inline-flex;
  flex-direction: column;
}

.minesweeper-tile {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  font-size: 12px;
  user-select: none;
}

.tile-open {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}
   
.tile-closed {
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

.tile-flagged {

}
      
.tile-questioned {

}