<body class="minesweeper-component">
  <div class="minesweeper-game minesweeper-extrude" (contextmenu)="suppress_context_menu($event)">
    <div class="minesweeper-header">
      @for (menu of menu_buttons; track menu) {
        <button class="minesweeper-menu-button" (click)="handleMenuButtonClick(menu)" (mouseenter)="handleMenuButtonEnter(menu)">{{menu}}</button>
      }
      <button (click)="returnToGamesMenu()" class="minesweeper-close-button">&#10006;</button>
    </div>
    <div class="minesweeper-score-banner minesweeper-inlay">
      <button class="minesweeper-counter minesweeper-flag-counter" [disabled]="!open_remaining_button_enabled()" 
        [class.minesweeper-flag-counter-button]="open_remaining_button_enabled()" (click)="open_remaining_tiles()">
        {{num_bombs - num_flags()}}
      </button>
      <div class="minesweeper-reset-button" [class]="get_reset_button_classes()" (mousedown)="reset_button_down($event)"
        (mouseleave)="reset_button_leave()" (mouseenter)="reset_button_enter()" (mouseup)="reset_button_up($event)">

        @if (reset_button_pressed()) {:)}
        @else if (game_won()) {W}
        @else if (game_lost()) {L}
        @else if (mouse_down_in_game()) {:o}
        @else {:)}
      </div>
      <div class="minesweeper-counter minesweeper-timer">{{remaining_num_tiles()}}</div>
    </div>
    <div class="minesweeper-game-body minesweeper-inlay">
      @for (col of board; track $index) {
        <div class="minesweeper-column">
          @for (item of col; track item.id) {
            <div id="{{item.id}}" class="minesweeper-tile" [class]="get_tile_classes(item)" [style.color]="get_number_tile_color(item)" 
              (mousedown)="press_tile($event, item)" (mouseleave)="unpress_tile(item)" (mouseenter)="enter_tile(item)" (mouseup)="click_tile($event, item)">

              <div class="minesweeper-tile-content">
                @if (item.isOpen() && item.number > 0 && !item.isBomb && !item.isFlagged()) {
                  {{item.number}}
                }
                @if ((item.isOpen() && item.isBomb) || (item.isOpen() && item.isFlagged() && !item.isBomb)) {
                  B
                }
                @if (!item.isOpen() && item.isFlagged()) {
                  F
                }
                @if (!item.isOpen() && item.isQuestioned()) {
                  ?
                }
              </div>
            
              @if (item.isOpen() && item.isFlagged() && !item.isBomb) {
                <div class="minesweeper-tile-content tile-incorrect-flag">&#10005;</div>
              }
            </div>
          }
        </div>
      }
      
      @if (menu_open()) {
        @let selected_menu_ = selected_menu();
        @let menu_content_ = menu_content[selected_menu_];
        <div class="minesweeper-menu" [class]="get_menu_class(selected_menu_)">
          <div class="minesweeper-menu-content">
            @for (section of menu_content_.sections; track $index) {
              @for (item of section; track item.text) {
                <div class="minesweeper-menu-item">
                  @if (menu_content_.hasSelectableItems) {
                    <div class="minesweeper-menu-item-check">
                      @if (item.isSelected && item.isSelected()) {&#10003;}
                    </div>
                  }
                  <button class="minesweeper-menu-item-button" title={{item.hoverText}} (click)="item.action()">{{item.text}}</button>
                </div>
              }
              @if (!$last) {
                <hr>
              }
            }
          </div>
        </div>
      }
    </div>
  </div>
</body>
