<body class="minesweeper-component">
  <div class="minesweeper-game minesweeper-extrude">
    <div class="minesweeper-header">
      <button (click)="returnToGamesMenu()" class="minesweeper-close-button">&#10006;</button>
    </div>
    <div class="minesweeper-score-banner minesweeper-inlay">

    </div>
    <div class="minesweeper-game-body minesweeper-inlay">
      @for (col of board; track $index) {
        <div class="minesweeper-column">
          @for (item of col; track item.id) {
            <div id="{{item.id}}" class="minesweeper-tile" [class]="get_tile_classes(item)" [style.color]="get_number_tile_color(item)">
              @if (item.isOpen && item.number > 0 && !item.isBomb) {
                {{item.number}}
              }
              @if (item.isOpen && item.isBomb) {
                B
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
</body>
