@use '../../styles';

header {
  flex-direction: row;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  //border-bottom: 2px solid styles.$secondary-color;
  color: styles.$primary-color;
  
  h1 {
    margin: auto;
    margin-left: 10px;
  }

  .header-spacer {
    width: 100%;
    text-align: center;
  }

  .header-source-link {
    margin: auto;
    margin-right: 10px;

    font-size: 10px;
    text-align: center;
    color: styles.$secondary-color;

    a {
      text-decoration: none;
    }
    
    :hover {
      text-decoration: underline;
    }

    :visited {
      text-decoration: none;
      color: inherit;
    }
  }

  img {
    height: 25px;
  }
}