@use '../../styles';

$content-padding: 10px;

header {
  height: 50px;
  width: 100%;
  padding: var($content-padding);
  border-bottom: 2px solid styles.$secondary-color;
  color: styles.$primary-color;
  
  h1 {
    text-align: left;
    margin-left: 10px;
  }
}