<header>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="header-title-link"><h1>{{ headerText }}</h1></a>
  <div class="header-nav-links">
    <a routerLink="/games" routerLinkActive="active" ariaCurrentWhenActive="page">GAMES</a>
    <a routerLink="/backend-test" routerLinkActive="active" ariaCurrentWhenActive="page">BACKEND TEST</a>
  </div>
  <div class="header-spacer"></div>
  <div class="header-source-link"><a href="{{ repoLink }}">
    <img src="github-mark.svg" class="filter-header-color"/>
    <p>source</p>
  </a></div>
</header>
