@use '../../styles';

$content-padding: 10px;

header {
  flex-direction: row;
  display: inline-flex;
  justify-content: center;

  height: 50px;
  width: 100%;
  padding: var($content-padding);
  border-bottom: 2px solid styles.$secondary-color;
  color: styles.$primary-color;
  
  h1 {
    margin: auto;
    margin-left: 10px;
  }

  .header-spacer {
    width: 100%;
  }

  .header-source-link {
    margin: auto;
    margin-right: 10px;

    font-size: 10px;
    text-align: center;

    a {
      text-decoration: none;
    }
    
    :hover {
      text-decoration: underline;
    }
  }

  img {
    height: 25px;
  }
}