.card-content {
  border-radius: 3px;
  font-family: "Atomic Age", sans-serif;
  font-size: 18px;
}

.card-hidden {
  height: calc(100% - 4px);
  margin: 2px;
  border: 3px solid #7a0800;
  box-sizing: border-box;

  background-image: url('../../../../../../public/assets/patterns/black-thread-light.png');
  background-color: #7a0800;
  align-content: center;
  font-size: 18px;
  color: white;
}

.card-revealed {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-red {
  color: red;
}

.card-black {
  color: black;
}

.card-top {
  text-align: left;
  padding-left: 2px;
  display: inline-flex;
}

.card-center {
  margin: auto;
  font-size: 32px;
}

.card-bottom {
  transform: scale(-1, -1);
  text-align: left;
  padding-left: 2px;
  display: inline-flex;
}

.card-suit {
  font-size: 14px;
}