<div class="solitaire-game">
  <div class="solitaire-header">
    <button (click)="new_game()" id="solitaire-new-game-button">New Game</button>
    <button (click)="select_flip_1()" class="solitaire-flip-one-button" [class.solitaire-flip-button-selected]="setting_flip_1()">Flip 1</button>
    <button (click)="select_flip_3()" class="solitaire-flip-three-button" [class.solitaire-flip-button-selected]="setting_flip_3()">Flip 3</button>
    <button (click)="returnToGamesMenu()" id="solitaire-close-button">&#10006;</button>
  </div>
  <div class="solitaire-score-banner">

  </div>
  <div class="solitaire-game-body">
    <div class="solitaire-game-row">
      <div class="solitaire-card-slot">
        @if (game.dealIndex() < game.dealPile().length) {
          <button class="solitaire-card" (click)="handle_deck_click()" style="top: 0px"><app-playing-card></app-playing-card></button>
        } @else {
          <button class="solitaire-card" (click)="reset_deck()" style="top: 0px;background-color: gray;color:white;">Deal again</button>
        }
      </div>
      <div class="solitaire-card-slot">
        @for (card of flipPileDisplayCards(); track `${card.number} ${card.suit}`; let cardIndex = $index) {
          <button class="solitaire-card" (click)="handle_deal_pile_click(card)" [style.left]=`${cardIndex*20}px` style="top: 0px;" [tabIndex]="cardIndex === game.flipPileTop3().length-1 ? 0 : -1">
            <app-playing-card [card]="card"></app-playing-card>
          </button>
        }
      </div>
      <div style="margin: auto;"></div>
      @for (ace_pile of game.acePiles; track $index; let pileIndex = $index) {
        <div class="solitaire-card-slot">
          @let pileLen = ace_pile().length;
          @if (pileLen > 0) {
            @let card = ace_pile()[pileLen-1];
            <button class="solitaire-card" (click)="handle_ace_pile_click(pileIndex)">
              <app-playing-card [card]="card"></app-playing-card>
            </button>
          }
        </div>
      }
    </div>
    <div class="solitaire-game-row" style="padding-bottom: 150px;">
      @for (game_pile of game.gamePiles; track $index; let pileIndex = $index) {
        <div class="solitaire-card-slot">
          @let pile_card_offset = get_game_pile_card_offset(game_pile());
          @for (card of game_pile(); track `${card.number} ${card.suit}`; let cardIndex = $index) {
            <button class="solitaire-card" (click)="handle_game_pile_click(card, pileIndex, cardIndex)" [style.top]=`${cardIndex*pile_card_offset}px` [tabIndex]="card.isRevealed() ? 0 : -1">
              <app-playing-card [card]="card"></app-playing-card>
            </button>
          }
        </div>
      }
    </div>
  </div>
</div>