@use '../../../../styles';

$solitaire-header-height: 40px;
$solitaire-header-color: #cdc6ae;

.solitaire-game {
  margin: auto;

  box-sizing: border-box;

  display: inline-flex;
  flex-direction: column;
  position: relative;

  box-shadow: 2px 3px 5px #000000;

  padding: 5px 10px 10px 10px;
  background-color: #624a2e;
  background-image: url('../../../../../public/assets/patterns/dark-leather.png');
  
  user-select: none;
}

.solitaire-header {
  height: $solitaire-header-height;
  color: $solitaire-header-color;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#solitaire-new-game-button {
  @include styles.button-no-decoration();

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: $solitaire-header-color;
  border: 1px solid $solitaire-header-color;
  border-radius: 3px;
  padding: 5px;
  margin-right: 15px;
}

#solitaire-new-game-button:hover {
  background-color: rgba(205, 198, 174, 0.3);
}

.solitaire-flip-one-button {
  @include styles.button-no-decoration();

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: $solitaire-header-color;
  border: 1px solid $solitaire-header-color;
  padding: 5px;
  padding-left: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.solitaire-flip-three-button {
  @include styles.button-no-decoration();

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: $solitaire-header-color;
  border: 1px solid $solitaire-header-color;
  padding: 5px;
  padding-right: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.solitaire-flip-button-selected {
  font-weight:bold;
  color: black;
  background-color: $solitaire-header-color;
}

#solitaire-close-button {
  @include styles.button-no-decoration();

  align-content: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 24px;

  height: 100%;
  margin-left: auto;
  width: $solitaire-header-height;

  border: 1px solid transparent;
}

hr {
  color: $solitaire-header-color;
  background-color: $solitaire-header-color;
  border-width: 0px;
  height: 1px;
}

.solitaire-score-banner {
  height: 30px;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  color: $solitaire-header-color;
  align-items: center;
}

.solitaire-timer-pause {
  @include styles.button-no-decoration();
  border: 1px solid $solitaire-header-color;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  color: $solitaire-header-color;
  margin-right: 10px;
}

.solitaire-timer-pause:hover {
  color: rgba(205, 198, 174, 0.7);
}

.solitaire-score-moves {
  margin-left: auto;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  p {
    font-size: 10px;
  }
}

.solitaire-game-body {
  display: flex;
  flex-direction: column;
  background-color: #002905;
  background-image: url('../../../../../public/assets/patterns/diagonal-noise.png');
  padding: 10px;

  box-shadow: 1px 1px 10px inset black;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.solitaire-game-row {
  display: flex;
  flex-direction: row;
}

.solitaire-card-slot {
  height: 90px;
  width: 60px;
  border-radius: 3px;
  outline: 1px solid white;
  background-color: rgba(128, 128, 128, 0.5);
  margin: 5px;

  position: relative;
}

.solitaire-card {
  @include styles.button-no-decoration();
  height: 90px;
  width: 60px;
  border-radius: 3px;

  outline: 1px solid black;
  background-color: white;

  position: absolute;
  left: 0px;

  font-size: 10px;
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  align-content: baseline;
}

app-playing-card {
  height: 100%;
}

.dragging-card {
  z-index: 99;
  pointer-events: none;
}

.solitaire-game-popup-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 50;
  background-color: rgba(205, 198, 174, 0.9);
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.solitaire-popup {
  border: 2px solid black;
  padding: 5px;
  margin: auto;
  z-index: 99;
  background-color: lightgray;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.solitaire-popup-buttons {
  display: flex;
  flex-direction: row;
  padding: 15px 25px 5px 25px;

  button {
    @include styles.button-no-decoration();
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    box-sizing: content-box;
  }

  button:hover {
    outline: 2px solid black;
  }
}