<body class="games-component">
  <div class="games-screen-border">
    <div class="games-screen">
      <div class="games-screen-component">
        <div class="games-menu-grid">
          @for (game of games; track game.displayName) {
            <a class="games-menu-item" routerLink="{{game.path}}" [class.games-menu-item-disabled]="isGameDetailView()" [tabIndex]="isGameDetailView() ? -1 : 0">
              <img src="{{game.iconPath ?? gameIconPathDefault}}" alt="{{game.displayName}} Logo" class="games-menu-item-logo" />
              <p class="games-menu-item-text">{{game.displayName}}</p>
            </a>
          }
        </div>
      </div>
      @if (isGameDetailView()) {
        <div class="games-screen-component">
          <router-outlet />
        </div>
      }
    </div>
  </div>
</body>